<<<<<<< HEAD
<form action="/checkout" method="POST">
=======
<form post="/checkout" action="POST">
>>>>>>> b38c254254c2411d4fd9492909c51a65e08a5988

  <input type="text" name="item">

  <input type="submit" value="submit">

</form>
